.product-explorer {
  background-color: #171717;

  &__global {
    background-color: #171717;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    max-width: 1584px;
    margin: 0 auto;

    @media (max-width: 1055px) {
      grid-template-columns: auto;
    }
  }

  &__headline-wrapper {
    grid-column: 1 / 1;
    padding: 2rem 1rem 1rem 1rem;

    @media (max-width: 1055px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 0;
    }

    @media (max-width: 671px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__headline {
    margin-bottom: 1.5rem;
    max-width: 87.5%;
    padding: 0;

    @media (max-width: 671px) {
      max-width: 75%;
    }
  }

  &__subhead {
    color: #bebebe;
    margin-bottom: 1.5rem;
    max-width: 75%;
    padding: 0;

    @media (max-width: 1055px) {
      grid-column: 1;
      margin-bottom: 2rem;
    }
  }
}
