@import "../assets/styles/globals";

.product-explorer {
  .product-detail {
    background-color: $ibm-color__white-0;
    color: $ibm-color__black-100;
    grid-column: 1 / -1;
    padding: 1rem;
    margin: 0.0625rem;
    margin-top: -1px;
    display: none;
    grid-template-columns: repeat(1, 1fr);

    &.selected {
      display: grid;
    }

    @media (min-width: 42rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 66rem) {
      grid-template-columns: repeat(3, 1fr);
    }

    &__header-outer-wrapper {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &__header-inner-wrapper {
      grid-column: 1 / -1;

      @media (min-width: 42rem) {
        grid-column: unset;
      }
    }

    &__category-name {
      font-size: 1.75rem;
      padding-bottom: 0.25rem;
      margin: 0;
      font-weight: 400;
      line-height: 1.25;
    }

    &__header {
      margin-bottom: 2rem;
    }

    &__product {
      padding: 1rem 1rem 1rem 0;
    }

    &__description {
      padding: 0;
      font-size: 0.875rem;
      margin: 0.5rem 0;
    }

    &__link {
      font-size: 0.875rem;
    }

    &__product-link {
      font-size: 1rem;
      color: $carbon--blue-60
    }

    &__long-description {
      margin: 0;
      margin-top: 0.5rem;
      font-size: 0.875rem;
    }

    svg {
      color: $ibm-color__blue-60;
    }
  }
}
