/coverage
/node_modules
/build
/dist
/.pnp.js
/.yarn
/tsconfig.json
/CHANGELOG.md
/reports
/storybook-static
/widget-registry
/public
/src/apps/*/locales/compiledStrings
/src/apps/*/locales/extractedStrings
