@import "../assets/styles/globals";

.pricing-band {

  .price {
    padding-top: 1.75rem;

    @media (min-width: 672px) {
      padding-top: 1.75rem;
    }

    @media (min-width: 1056px) {
      padding-top: 1.75rem;
    }
  }

  .body {
    padding-top: 1.75rem;

    @media (min-width: 672px) {
      padding-top: 1.75rem;
    }

    @media (min-width: 1056px) {
      padding-top: 3rem;
    }
  }

  .bullets {
    padding-top: 1.75rem;

    @media (min-width: 672px) {
      padding-top: 1.75rem;
    }

    @media (min-width: 1056px) {
      padding-top: 1.75rem;
    }

    li::before {
      content: "\2022";
      color: #161616;
      font-weight: bold;
      display: inline-block;
      width: 1em;
    }
  }

  .button-group {
    padding-top: 1.75rem;

    @media (min-width: 672px) {
      padding-top: 3rem;
    }

    @media (min-width: 1056px) {
      padding-top: 3rem;
    }
  }

  .cta-copy {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    display: flex;
    align-items: center;

    @media (min-width: 672px) {
      padding-top: 3rem;
      padding-bottom: 1.75rem;
    }

    @media (min-width: 1056px) {
      padding-top: 3rem;
      padding-bottom: 1.75rem;
    }

  }



}
