@import "../assets/styles/globals";

.pricing-band {

  // border: 1px solid lightgrey;
  .bx--content-block {
    display: grid;
    padding-top: 32px;
    padding-bottom: 64px;

    @media (min-width: 42rem) {
      padding-top: 48px;
      padding-bottom: 96px;
    }

    @media (min-width: 66rem) {
      padding-top: 64px;
      padding-bottom: 160px;
    }
  }

  .bx--card-group__cards__row {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 42rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 66rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .bx--card-group__cards__col {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    @media (min-width: 42rem) {
      border-right: 1px solid #e0e0e0;
      margin-bottom: unset;
    }

    &:last-of-type {
      margin-bottom: unset;
    }
  }
}
