.trust-radius-widget {
  &__cardfooter {
    &__byline {
      margin-top: auto;
      font-family: 'IBM Plex Sans';
      font-size: 12px;
      letter-spacing: 0.32px;
      line-height: 16px;
      padding-top: 10px;
      padding-bottom: 12px;
    }
  }
}
