.trust-radius-widget {
  &__cardheading {
    &__heading {
      height: 75px;
      font-family: 'IBM Plex Sans';
      font-size: 1.25rem;
      letter-spacing: 0;
      margin-bottom: 2rem;
    }
  }
}
