@import "../assets/styles/globals";

.product-explorer-it-infra {
  .product-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1055px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 671px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }


  .product-category {
    &__wrapper {
      padding: 1px;
    }

    &__inner {
      font-family: carbon--font-family('sans');
      color: $carbon--white-0;
      height: 156px;
      padding: $carbon--spacing-05;
      background-color: $carbon--gray-90;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: background-color 0.25s;

      img.icon,
      svg.icon {
        height: 60px;
        width: 60px;
        transition: height 0.25s;
      }

      &:hover {
        background-color: $carbon--gray-80;
      }

      &.selected {
        background-color: $carbon--white-0;
        color: $carbon--black-100;

        img.icon,
        svg.icon {
          height: 60px;
          width: 60px;
        }

        h4 {
          visibility: hidden;
        }

        span {
          color: $carbon--blue-50;
        }
      }

      span {
        color: $carbon--white-0;
      }

      @media (max-width: 671px) {
        height: auto;
        flex-direction: row;
        align-items: center;

        img.icon,
        svg.icon {
          margin-right: $carbon--spacing-01;
          height: 30px;
          width: 30px;
        }

        &.selected {
          img.icon,
          svg.icon {
            height: 30px;
            width: 60px;
          }
        }
      }
    }

    &__name-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__name {
      font-size: carbon--type-scale(6);
      padding: 0;

      @media (max-width: 1055px) {
        font-size: carbon--type-scale(5);
      }
    }
  }
}
